<div class="dash-container">
    <section class="dash-title">
        <h1>Customers</h1>
    </section>
    <section>
        <button class="btn-add btn-primary" (click)="addCustomer()">
            <span class="material-symbols-outlined">
                add
            </span>
                New Customer
        </button>
    </section>
    <section>
         <ag-grid-angular 
        [rowData]="customers$ | async"
        [columnDefs]="colDefs"
        [autoSizeStrategy]="autoSizeStrategy"
        [defaultColDef]="defaultColDef"
        pagination="{{true}}"
        paginationAutoPageSize="{{true}}"
        style="height: calc(100vh - 300px); width: 100%; flex-grow: 2;"
        class="ag-theme-quartz" />   

    </section>
</div>
