<div class="container  w-100 h-100">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="icon">
            <span class="material-symbols-outlined text-success" style="font-size: 15rem;">
                credit_score
            </span>
        </div>
        <h4 class="fw-bold text-success" style="font-size: 2rem;">Thank you!</h4>
        <p style="font-size: 1.4rem;">Payment done successfully</p>
    
        <p style="color: #777; font-size: 0.9rem;">You will be redirected to the your home page shortly or click here </p>
        <button class="btn-flat bg-success text-white border-success mt-4">
            Home
        </button>    
    </div>
 
</div>