.splide-wrapper {
    margin-top: 0;
    margin-bottom: 45px;
}


.media-slider {
    margin-top: 65px;
}

.media-slider-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .menu-slider-item {
        opacity: 0.3;
        transition: all 0.3s ease;
        width: 180px;
        gap: 25px;
        &:hover {
            opacity: 0.9;
        }
        img {
            max-width: 100%;
        }
    }
}



.splide-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.splide-list-item  {
    flex-basis: 220px
}

.card {
    display: block;
    padding: 16px 8px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    background-color: #fff;
    min-height: 308px;
    height: 308px;
    width: 200px;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-15px);
    }
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item-img {
    display: block;
    width: 70%;
    // height: 100px;
}

.card-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 15px;
    width: calc(100% - 16px);
    color: #000;
}

.price-value {
    font-size: 19px;
    font-weight: bold;
    color: #000;
}

.card-item-title {
    text-wrap: wrap;
    line-height: 1.8;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 25px;
    color: #000;
    font-size: 13px;
}


@media screen and (max-width: 767px) {

    .splide-list {
        gap: 5px;
        justify-content: flex-start;
    }

    .splide-list-item  {
        flex-basis: 180px
    }

    .card {
        display: block;
        padding: 2px 0;
        border: 1px solid rgb(117, 117, 117);
        border-radius: 10px;
        background-color: #fff;
        min-height: 308px;
        height: 308px;
        width: 180px;
        position: relative;
        transition: all 0.2s ease;

        &:hover {
            transform: translateY(-15px);
        }
    }

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-item-img {
        display: block;
        width: 70%;
        // height: 100px;
    }

    .card-footer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 15px;
        width: calc(100% - 16px);
        color: #000;
    }

    .price-value {
        font-size: 19px;
        font-weight: bold;
        color: #000;
    }

    .card-item-title {
        text-wrap: wrap;
        line-height: 1.8;
        /* display: flex; */
        /* justify-content: center; */
        text-align: center;
        margin-top: 25px;
        color: #000;
        font-size: 13px;
    }



}