a {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    color: #333;
    cursor: pointer;
}

.client-header {
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
}

.client-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .client-header-top {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 106px;
        padding: 0 16px;
        margin: 0 auto;
        gap: 25px;
        border-bottom: 1px solid #777;
        width: 100%;
        .client-menu {
            display: flex;
            align-items: center;
            // flex-grow: 3;
            .client-menu-nav ul {
                display: flex;
                align-items: center;
                .nav-top-item {
                    margin-right: 25px;
                    .nav-top-link {
                        flex-direction: column;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .main-menu {
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #777;
        .main-menu-list {
            display: flex;
            align-items: center;
            // gap: 15px;
            .main-menu-item {
                border-right: 1px solid #ededed;
                // padding-bottom: 0;
                height: 56px;
                .nav-link {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    padding: 4px 12px;

                    &:hover, &:active {
                        &::before  {
                            width: 100%;
                        }
                    }

                    &::before {
                        content: '';
                        transition: all 0.2s ease-in;
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background-color: #512dab;
                        left: 0;
                        bottom: 0;
                    }
                }
                
            }


        }

    }
}

.search-bar {
    margin-right: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    padding: 15px 32px;
    border: 2px solid #777;
    width: 600px;
}

.material-symbols-outlined {
    font-size: 30px;
}

.menu-button {
    position: relative;
    padding-right: 12px;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    min-width: 215px;
    z-index: 10;
    top: 100%;
    left: 0;
    .sub-menu-item {
        padding: 8px 15px;
        width: 100%;
        border-bottom: 1px solid #ececec;
        &:hover  {
            background-color: #593774;
            .sub-menu-nav-link {
                color: #fff;
            }
            .level-2 {
                display: flex;
            }
        }
      
    }

    &.show {
        display: flex;
    }
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
}

.level-2 {
    position: absolute;
    background-color: #fff;
    font-size: 13px;
    left: 215px;
    display: none;
    height: 100%;
    top: 0;
    padding: 16px;
    width: 811px;
    z-index: 10;

    .level-2-item {
        margin-left: 25px;
        margin-bottom: 8px;
        .level-2-nav-link {
            line-height: 1.3;
            margin-bottom: 6px;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.level-3-nav-link {
    margin-bottom: 4px;
    &:hover {
        text-decoration: underline;
    }
}

.header-nav-link {
    position: relative;

    .header-nav-link-badge {
        position: absolute;
        top: -3.5px;
        right: 5px;
        width: 20px;
        height: 20px;
        background-color: var(--color-danger);
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.header-nav-account {
    position: relative;

    .logged-check {
        position: absolute;
        font-size: 1.2rem;
        color: var(--color-success);
        right: 25px;
    }
}