<div class="main-container">
    <div class="side-bar">
        <div class="logo">
                <h2>Logo</h2>
        </div>
        <div class="menu">
            <div class="nav-group">
                <div class="nav-item">
                 
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/dashboard">
                        <span class="material-symbols-outlined">
                            dashboard
                        </span>
                        <span class="link-title">
                            Dashboard
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                 
                    <a routerLinkActive="link-active" class="nav-link">
                        <span class="material-symbols-outlined">
                            compare_arrows
                        </span>
                        <span class="link-title">Payments</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link">
                        <span class="material-symbols-outlined">
                            apps
                        </span>
                        <span class="link-title">
                            Orders
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link">
                        <span class="material-symbols-outlined">
                            currency_exchange
                        </span>
                        <span class="link-title">
                            Sales
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link">
                        <span class="material-symbols-outlined">
                            chat
                        </span>
                        <span class="link-title">Messages</span>
                    </a>
                </div>
                
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/suppliers">
                        <span class="material-symbols-outlined">store</span>
                        <span class="link-title">Suppliers</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/products">
                        <span class="material-symbols-outlined">inventory_2</span>
                        <span class="link-title">Products</span>
                    </a>
                </div>
                <div class="nav-item">
                
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/stock-movements">
                        <span class="material-symbols-outlined">
                            question_exchange
                        </span>
                        <span class="link-title">Stock movements</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/categories">
                        <span class="material-symbols-outlined">
                            category
                        </span>
                        <span class="link-title">Categories</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/brands">
                        <span class="material-symbols-outlined">
                            action_key
                        </span>
                        <span class="link-title">Brands</span>
                    </a>
                </div>
                <div class="nav-item">
                  
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/customers">
                        <span class="material-symbols-outlined">
                            patient_list
                        </span>
                        <span class="link-title">Customers</span>
                    </a>
                </div>
                <div class="nav-item">
                  
                    <a routerLinkActive="link-active" class="nav-link" routerLink="/admin/users">
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        <span class="link-title">Users</span>
                    </a>
                </div>
                <div class="nav-item">
                 
                    <a routerLinkActive="link-active" class="nav-link">
                        <span class="material-symbols-outlined">
                            chat
                        </span>
                        <span class="link-title">Messages</span>
                    </a>
                </div>
            </div>

            </div>
    </div>
    <div class="admin-panel">
        <div class="nav-bar">
          <div class="left-bar">
            <input type="text" class="search-input" placeholder="search...">
            <div class="icon">
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </div>
          </div>
          <div class="right-bar">
            <div class="profile-info">
                <img src="../../../assets/person-logo.png" alt="profile logo" class="profile-pic" matToolTip="user logo">
                <div class="user-info">
                    <span class="user-info-name">{{username}}</span>
                    <span class="user-info-role">Admin</span>
                </div>
                <button mat-icon-button matTooltip="logout" (click)="logout()">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </button>
            </div>
          </div>
        </div>
        <main class="content">
          <router-outlet></router-outlet>
        </main>
    </div>
    
</div>
