<div class="dash-container">
    <div class="dash-title">
        <h1>Category</h1>
    </div>
    <div>
        <button class="btn-add btn-primary" (click)="addCategory()">
            <span class="material-symbols-outlined">
                add
            </span>
                New Category
        </button>
    </div>

    
    <ag-grid-angular
    [rowData]="categories"
    [columnDefs]="colDefs"
    [getRowClass]="getRowClass"
    [autoSizeStrategy]="autoSizeStrategy"
    [context]="context"
    class="ag-theme-quartz"
    style="width: 98%; min-height: 600px; height: 40vh;"
    pagination="{{true}}"
    paginationAutoPageSize="{{true}}"
    (gridReady)="onGridReady($event)"
    />
</div>
