:root {
    --color-danger: #dc3545;
    --color-primary: #007bff;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-secondary: #6c757d;
    --color-purple: #593774;
    --color-red: #721c24;
    --primary-50: #f0eaf7;
    --primary-100: #e1d5ef;
    --primary-200: #c3abdf;
    --primary-300: #a482d0;
    --primary-400: #8658c0;
    --primary-500: #682eb0;
    --primary-600: #53258d;
    --primary-700: #3e1c6a;
    --primary-800: #2a1246;
    --primary-900: #150923;
    --tertiary-50: #f0f2ff;
    --tertiary-100: #e1e4ff;
    --tertiary-200: #c3caff;
    --tertiary-300: #a6afff;
    --tertiary-400: #8895ff;
    --tertiary-500: #6a7aff;
    --tertiary-600: #5563d9;
    --tertiary-700: #404cb3;
    --tertiary-800: #2a358d;
    --tertiary-900: #151e67;
    --white: #fff;
    --black: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body { height: 100%; }
body { 
    font-family: Helvetica, Roboto, Arial, Tahoma, sans-serif;
    color: #333;
    font-size: 12px;
    line-height: 1.42857143;
    background-color: #f5f5f5;

 }
 .auth-container {
    height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .wrapper {
        background-color: #fff;
        border-radius: 30px;
        width: 700px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: 0 5px 15px rgba(0,0,0, 0.35) ;
        display: flex;
        flex-direction: column;
        min-height: 600px;
        padding: 0 35px;
        .alert {
            position: absolute;
            left: 0;
            width: 50%;
            margin: 15px;
            text-align: center;
        }
    }

    p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
    }

    span {
        font-size: 12px;
    }

    a {
        color: #333;
        font-style: 13px;
        text-decoration: none;
        margin: 15px 0 10px;
    }



    .sign-in {
        padding: 20px;
        position: absolute;
        height: 100%;
        top: 0;
        transition: all 0.6s ease-in-out;
        left: 0;
        width: 50%;
        z-index: 2;

        form {
            padding: 0 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .toggle-container {
        position: absolute;
        left: 50%;
        top: 0;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 15%;
        background-color: var(--color-purple);
        height: 100%;
        width: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .toggle {
            margin-left: 25px;
        }
    }

}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    a {
        border: 1px solid #ccc;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
} 

.form-control {
    background-color: #eee;
    border: 2px solid #ccc;
    outline: none;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 6px;
    width: 100%;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px
}

.btn {
    border-radius: 6px;
    cursor: pointer;
    padding: 4px 5px;
    border: 1px solid transparent;
}


.btn-add {
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 25px 8px 6px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1rem;
    gap: 8px;
}

.btn-flat {
    padding: 10px 45px !important;
    font-weight: bold !important;
}

.btn-light {
    background-color: #fff !important;
    border-color: #777 !important;
    color: #111 !important;

    &:hover {
        background-color: #555 !important;
        border-color: #555 !important;
        color: #fff !important;
    }
}

.alert {
    padding: 10px 20px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: var(--color-red);
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.text-danger {
    color: var(--color-danger);
    font-size: 16px;
}

.btn-primary {
    background-color: var(--color-purple) !important;
    color: #fff !important;

}

.btn-blue {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: #fff !important;
}

.btn-secondary {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
    color: #fff !important;
}

.btn-info {
    background-color: var(--tertiary-600) !important;
    border-color: var(--tertiary-600) !important;
    color: #fff !important;
}

.btn-success {
    background-color: #155724 !important;
    border-color: #155724 !important;
    color: #fff !important;
}

.btn-danger {
    background-color: var(--color-danger) !important;
    border-color: var(--color-danger) !important;
    color: #fff !important;
}

.btn-warning {
    background-color: var(--color-warning) !important;
    border-color: var(--color-danger) !important;
    color: #fff !important;
}


.radio-group-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group {
    margin-bottom: 5px;
}


.invalid-feedback {
    display: none;
    width: 100%;
    color: var(--color-danger);
    margin-top: 0.25rem;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}


.is-invalid {
    border-color: var(--color-danger);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.is-valid {
    border-color: var(--color-success);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.mat-mdc-form-field-underline {

    background-color: #0C3864 !important;

}

 

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {

    border-bottom-color: #0C3864 !important;

}

.mat-mdc-form-field-subscript-wrapper {
    display: none !important; 
}

 

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {

    border-bottom-color: #0C3864;

}

 

.mat-ink-bar {

    background-color: #4D87A0 !important;

}

 

.mat-mdc-icon-button {

    height: 35px !important;

    width: 35px !important;

}

 

.mat-mdc-icon-button.mat-mdc-button-base {

    padding: 0 !important;

    right: 10px;

}

 

.mdc-checkbox__background {

    width: 20px !important;

    height: 20px !important;

}

 

.main-container  {

    min-height: 100vh;

    height: 100%;

    padding: 15px 0 18px 15px;

}

.client-container {
    padding-right: 140px;
    padding-left: 140px;
}



.sub-row-style {

    background-color: #f2f2f2;

    font-weight: bold !important;

}

.grid-cell-lefted {

    text-align: center;

}

 

.date-field-style .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {

    width: 140px !important;

}

 

.mat-mdc-checkbox label {

    font-size: 14px !important;

}
 

.mdc-text-field--outlined .mdc-notched-outline__leading {

    font-size: 12px !important;

}

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before

{

    background-color: #0C3864 !important;

}

 

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle,

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {

    border-color: #0C3864 !important;

}

.dialiog-title {
    border-bottom: 1px solid #777;
    background-color: #274c77;
    color: #fff !important;
}
.dialog-content {
    border-bottom: 1px solid #777;
}

.dash-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .dash-title {
        border-bottom: 2px solid #777;
        position: relative;
        &::after {
            content: '';
            width: 52px;
            height: 3px;
            background-color: #333;
            bottom: -2.1px;
            left: 0;
            position: absolute;
        }
        h1 {
            font-weight: 700;
        }
    }

    .btn {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
    }

}

.grid-row-style {
    background-color: #ccdbfd;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
}

.grid-row-default-style {
    background-color: #fff;
}

.overlay-panel {
    width: fit-content !important;
    position: relative !important;
    top: -45px;
    min-width: 275px;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #3f51b5 !important;
    background-color: #3f51b5 !important;
}


.input-search-icon {
    padding-left: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23777777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.mat-mdc-text-field-wrapper {
    height: 50px !important;
}

.description-control {
    grid-column: 1 / span 2;
}




// Table styles

.table-container {
    background-color: #fffb;
    border-radius: .6rem;
    width: 95%;
    max-height: calc(100vh - 300px);
    overflow: auto;
    table {
        width: 100%;
    }

    thead th {
        position: sticky;
        top: 0;
        left: 0;
        color: rgba(255, 255, 255, 0.8);
        padding: 1.2rem 0.75rem;
        background-color: #023047;
        z-index: 99;
    }

    table, th, td {
        border-collapse: collapse;
        padding: 0.75rem;
        border-color:#ddd;
        text-align: left;
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: rgba(206, 212, 218, 0.741);
            };
            &:hover {
                background-color: #ced4da;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: #0004;
        visibility: hidden;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}


.status {
    padding: .5rem 0;
    border-radius: 1rem;
    color: #fff;
    text-align: center;
}

.bg-success {
    background-color: var(--color-success);
}


.bg-danger {
    background-color: var(--color-danger);
}

.bg-warning {
    background-color: var(--color-warning);
}

.text-light {
    color: #fff;
}

.search-input {
    padding: 8px 32px;
    outline: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ij48L2NpcmNsZT48bGluZSB4MT0iMjEiIHkxPSIyMSIgeDI9IjE2LjY1IiB5Mj0iMTYuNjUiPjwvbGluZT48L3N2Zz4=");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: left 0.65rem center;
    width: 375px;
    border: 2px solid #ddd;
    border-radius: 6px;
}

.search-input:focus {
    border-color: #4896FE; 
}


@media screen and (min-width: 992px) {
    .table-container {
        td:not(:first-of-type) {
            min-width: 6.1rem;
            width: fit-content;
        }
    }
}


.dropdown {
    position: relative;
 }
 
 .action-menu {
     margin-top: 0.5rem;
     display: flex;
     flex-direction: column;
     align-items: start;
     background-color: #fff;
     position: absolute;
     right: 0;
     z-index: 15;
     width: 8rem;
 
     border-radius: 0.5rem;
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
 
     li {
         padding: 0.7rem 0.5rem;
         border-bottom: 1px solid #dcdcdc;
         width: 100%;
         cursor: pointer;
         a {
             display: inline-block;
             width: 100%;
         }
         &:hover {
             background-color: #ededed;
             &:first-of-type {
                 border-top-left-radius: 0.5rem;
                 border-top-right-radius: 0.5rem;
             }
             &:last-of-type {
                 border-bottom-left-radius: 0.5rem;
                 border-bottom-right-radius: 0.5rem;
             }
       
         }
     }
 }
 
 
 .action-menu-bottom {
     bottom: 0;
 }
 
 
 .action-menu-top {
     top: 0;
 }

 .grid-row-entry-style {
    background-color: #b7e4c7;
}

.grid-row-out-style {
    background-color: #e56b6f;
}


// Ag grid theme customization 
.ag-theme-quartz {
    --ag-header-height: 48px;
    --ag-header-foreground-color: white;
    --ag-header-background-color: #023047;
    --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}

.file-upload {
    display: none;
}


.fz-45 {
    font-size: 45px;
}


.checkout-template { 
    margin: 0 auto;
    width: 100%;
    .checkout-template-container {
        .checkout-template-body {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            overflow-y: auto;
            max-height: 70vh;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                display: none;
            }
            .checkout-template-left {
                grid-column: auto / span 5;
            }
            .checkout-template-right {
                grid-column: 8 / span 12;
                position: sticky;
                height: fit-content;
                top: 10px;
            }
        }
   
    }

    .cart-page-checkout-summary {
        margin-bottom: 1.1rem;
    }

    .cart-page-checkout-summary-body {
        background-color: #fff;
        padding: 0.75rem 1rem;
        margin-top: 0.75rem;
        width: 425px;
    }
}

.cart-page-checkout-summary-total-label {
    font-weight: bold;
    font-size: 1.2rem;

}

.shipping-details {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #757575;
    .shipping-price-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.shipping-price-label {
    font-weight: bold;
    font-size: 0.9rem;
}


.cart-page-checkout-summary-quantity-price, .cart-page-checkout-summary-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
}

.cart-page-checkout-summary-quantity-price {
    border-bottom: 1px solid #757575;

}

.cart-page-checkout-summary-title {
    font-weight: 600;
}

.cart-total-price {
    font-weight: bold;
    font-size: 1.1rem;
}
