<footer class="footer-content">
    <div class="footer-top">
        <div class="footer-container">
            <ul class="footer-features">
                <li class="footer-feature-item">
                    <a href="" class="footer-svg-link">
                        <div class="footer-svg">
                            <span class="material-symbols-outlined fz-45">local_shipping</span>
                        </div>
                        <p class="footer-svg-title">Livraison offerte*</p>
                        <p class="footer-svg-description">Partout en France.</p>
                    </a>
                </li>
                <li class="footer-feature-item">
                    <a href="" class="footer-svg-link">
                        <div class="footer-svg">
                            <span class="material-symbols-outlined fz-45">headset_mic</span>
                        </div>
                        <p class="footer-svg-title">Service client 7j/7</p>
                        <p class="footer-svg-description">En magasin ou sur notre site.</p>
                    </a>
                </li>
                <li class="footer-feature-item">
                    <a href="" class="footer-svg-link">
                        <div class="footer-svg">
                            <span class="material-symbols-outlined fz-45">handyman</span>
                        </div>
                        <p class="footer-svg-title">Service après vente</p>
                        <p class="footer-svg-description">Dans chaque magasin et à domicile.</p>
                    </a>
                </li>
                <li class="footer-feature-item">
                    <a href="" class="footer-svg-link">
                        <div class="footer-svg">
                            <span class="material-symbols-outlined fz-45">local_mall</span>
                        </div>
                        <p class="footer-svg-title">Paiement sécurisé</p>
                        <p class="footer-svg-description">Transactions protégées et cryptées.</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-middle">
        <div class="footer-container">
            <div class="footer-socials">
                <p class="footer-socials-title">suivez-nous sur les réseaux</p>
                <ul class="social-icons">
                    <li class="social-icon">
                        <a href="">
                            <img src="../../../assets/picto_facebook.svg" alt="">
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="">
                            <img src="../../../assets/logo-x-twitter.svg" alt="">
                        </a>
                    </li>
                    <li class="social-icon">
                        <a href="">
                            <img src="../../../assets/instagram.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-newsletter">
                <div class="footer-container">
                    <h2>Restons en contact !</h2>
                    <form  class="footer-newsletter-form">
                        <label for="newsletter">Inscrivez-vous à la newsletter</label>
                        <div class="footer-newsletter-icon"><span class="material-symbols-outlined">mail</span></div>
                        <input type="email" placeholder="adresse mail" name="newsletter"  />
                        <button  class="btn">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-pays">
        <ul class="footer-container">
            <li class="footer-pay-item"><img src="../../../assets/payPal_Logo2014.svg" /></li>
            <li class="footer-pay-item"><img src="../../../assets/cb.svg" /></li>
            <li class="footer-pay-item"><img src="../../../assets/visa_Inc._logo.svg" /></li>
            <li class="footer-pay-item"><img src="../../../assets/Mastercard-logo.svg" /></li>
            <li class="footer-pay-item"><img src="../../../assets/wrapped-bitcoin-wbtc-logo.png" /></li>
        </ul>
    </div>
</footer>